<div class="m-content">
	<!--begin::Section-->
        <!--begin:: Feature Overview-->
		<div class="col-md-12">
				<div class="m-portlet">
				  <div class="m-portlet__head">
					<div class="m-portlet__head-caption">
					  <div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							{{currentFeature.featureName}}
						</h3>
					  </div>
					</div>
				  </div>
				  <div class="m-portlet__body">
					<div class="row">
					  <div class="col-md-9">
						<h6>{{currentFeature.marketingheadline}}</h6>
						<p>{{currentFeature.marketingDescription}}</p>
						<h6>Designer Personas</h6>
						<p class="m-badge m-badge--metal m-badge--wide">{{currentFeature.personas}}</p>
						<h6>Workflows</h6>
						<p class="m-badge m-badge--metal m-badge--wide">{{currentFeature.workflows}}</p>
					  </div>
					  <div class="col-md-3">
						<i class="flaticon-layers m--font-metal"></i>&nbsp;&nbsp;<a class="m-link m--font-bolder" href="#">Designs</a>
						<br>
						<i class="flaticon-attachment m--font-metal"></i>&nbsp;&nbsp;<a class="m-link m--font-bolder" href="#">Marketing Assets</a>
						<br>
						<i class="flaticon-browser m--font-metal"></i>&nbsp;&nbsp;<a class="m-link m--font-bolder" href="#">Demo Assets</a>
						<br>
						<i class="flaticon-cogwheel-2 m--font-metal"></i>&nbsp;&nbsp;<a class="m-link m--font-bolder" href="#">JIRA</a>
					  </div>
					</div>
  
  
  
				  </div>
				</div>
			  </div>
		  <!--end:: Feature Overview-->
  <!--end::Section-->
</div>
