<!--begin::Section-->
							
						<!--begin:: Engagement Program List-->
						<div class="row">
							<div class="col-md-3">
								<div class="m-portlet__body">
										<div class="m-widget1">
											<div class="m-widget1__item">
												<span style="font-size: 0.85rem; font-weight: 600; text-transform: uppercase; letter-spacing: 0.3px; color: #bfc2d3;">Summary</span><br><br>
												<a style="text-decoration-line: none" href="#">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title">
																Completed
															</h3>
														</div>
														<div class="col m--align-right">
															<span class="m-widget1__number m--font-info">
																12
															</span>
														</div>
													</div>
												</a>
											</div>
											<div class="m-widget1__item">
												<a style="text-decoration-line: none" href="#">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title">
																Running
															</h3>
														</div>
														<div class="col m--align-right">
															<span class="m-widget1__number m--font-success">
																2
															</span>
														</div>
													</div>
												</a>
											</div>
											<div class="m-widget1__item">
												<a style="text-decoration-line: none" href="#">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title">
																Construction
															</h3>
														</div>
														<div class="col m--align-right">
															<span class="m-widget1__number m--font-warning">
																4
															</span>
														</div>
													</div>
												</a>
											</div>
											<div class="m-widget1__item">
												<a style="text-decoration-line: none" href="#">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title">
																Planning
															</h3>
														</div>
														<div class="col m--align-right">
															<span class="m-widget1__number m--font-metal">
																5
															</span>
														</div>
													</div>
												</a>
											</div>
											<div class="m-widget1__item">
												<a style="text-decoration-line: none" href="#">
													<div class="row m-row--no-padding align-items-center">
														<div class="col">
															<h3 class="m-widget1__title">
																Backlog
															</h3>
														</div>
														<div class="col m--align-right">
															<span class="m-widget1__number m--font-lightgrey">
																12
															</span>
														</div>
													</div>
												</a>
											</div>
										</div>
									</div>
							</div>
							<div class="col-md-9">
								<div class="m-portlet">
									<div class="m-portlet__body">
										
										<!--begin: Filters -->
										<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
											<div class="row align-items-center">
												<div class="col-xl-12">
													<div class="form-group m-form__group row align-items-center">
														<div class="col-md-4">
															<div class="m-form__group m-form__group--inline">
																<div class="m-form__label">
																	<label>Category</label>
																</div>
																<div class="m-form__control">
																	<div class="btn-group bootstrap-select form-control m-bootstrap-select">
																		<button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" data-id="m_form_status" title="All" aria-expanded="false">
																			<span class="filter-option pull-left">All</span>&nbsp;
																			<span class="bs-caret"><span class="caret"></span></span>
																		</button>
																		<div class="dropdown-menu open" role="combobox" x-placement="bottom-start" style="max-height: 241.906px; overflow: hidden; min-height: 15px; position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
																			<ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 227.906px; overflow-y: auto; min-height: 1px;">
																				<li data-original-index="0" class="selected">
																					<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
																						<span class="text">All</span>
																						<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="1">
																					<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																						<span class="text">Engagement</span>
																						<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="2">
																					<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																						<span class="text">Retention</span>
																						<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="3">
																				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																					<span class="text">Acquisition</span>
																					<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																			</ul>
																		</div>
																		<select class="form-control m-bootstrap-select" id="m_form_goal" tabindex="-98">
																			<option value="">All</option>
																			<option value="1">Engagement</option>
																			<option value="2">Retention</option>
																			<option value="3">Acquisition</option>
																		</select>
																	</div>
																</div>
															</div>
															<div class="d-md-none m--margin-bottom-10"></div>
														</div>
														<div class="col-md-4">
															<div class="m-form__group m-form__group--inline">
																<div class="m-form__label">
																	<label>Journey</label>
																</div>
																<div class="m-form__control">
																	<div class="btn-group bootstrap-select form-control m-bootstrap-select">
																		<button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" data-id="m_form_status" title="All" aria-expanded="false">
																			<span class="filter-option pull-left">All</span>&nbsp;
																			<span class="bs-caret"><span class="caret"></span></span>
																		</button>
																		<div class="dropdown-menu open" role="combobox" x-placement="bottom-start" style="max-height: 241.906px; overflow: hidden; min-height: 15px; position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
																			<ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 227.906px; overflow-y: auto; min-height: 1px;">
																				<li data-original-index="0" class="selected">
																					<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
																						<span class="text">All</span>
																						<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="1">
																					<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																						<span class="text">Discover</span>
																						<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="2">
																					<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																						<span class="text">Try</span>
																						<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="3">
																				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																					<span class="text">Buy</span>
																					<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="4">
																				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																					<span class="text">Setup</span>
																					<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="5">
																				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																					<span class="text">Use</span>
																					<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="6">
																				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																					<span class="text">Renew</span>
																					<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>


																			</ul>
																		</div>
																		<select class="form-control m-bootstrap-select" id="m_form_journey" tabindex="-98">
																			<option value="">All</option>
																			<option value="1">Discover</option>
																			<option value="2">Try</option>
																			<option value="3">Buy</option>
																			<option value="4">Setup</option>
																			<option value="5">Use</option>
																			<option value="6">Renew</option>
																		</select>
																	</div>
																</div>
															</div>
															<div class="d-md-none m--margin-bottom-10"></div>
														</div>
														<div class="col-md-4">
															<div class="m-form__group m-form__group--inline">
																<div class="m-form__label">
																	<label>Channel</label>
																</div>
																<div class="m-form__control">
																	<div class="btn-group bootstrap-select form-control m-bootstrap-select">
																		<button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" data-id="m_form_status" title="All" aria-expanded="false">
																			<span class="filter-option pull-left">All</span>&nbsp;
																			<span class="bs-caret"><span class="caret"></span></span>
																		</button>
																		<div class="dropdown-menu open" role="combobox" x-placement="bottom-start" style="max-height: 241.906px; overflow: hidden; min-height: 15px; position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
																			<ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 227.906px; overflow-y: auto; min-height: 1px;">
																				<li data-original-index="0" class="selected">
																					<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
																						<span class="text">All</span>
																						<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="1">
																					<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																						<span class="text">Email</span>
																						<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="2">
																					<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																						<span class="text">Thor</span>
																						<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="3">
																				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																					<span class="text">Kaizen</span>
																					<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="4">
																				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																					<span class="text">In-App</span>
																					<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="5">
																				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																					<span class="text">Adobe.com</span>
																					<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="6">
																				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																					<span class="text">Social</span>
																					<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="7">
																				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																					<span class="text">Marketing</span>
																					<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>
																				<li data-original-index="8">
																				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
																					<span class="text">Other</span>
																					<span class="glyphicon glyphicon-ok check-mark"></span></a>
																				</li>


																			</ul>
																		</div>
																		<select class="form-control m-bootstrap-select" id="m_form_channel" tabindex="-98">
																			<option value="">All</option>
																			<option value="1">Email</option>
																			<option value="2">Thor</option>
																			<option value="3">Kaizen</option>
																			<option value="4">In-App</option>
																			<option value="5">Adobe.com</option>
																			<option value="6">Social</option>
																			<option value="7">Marketing</option>
																			<option value="8">Other</option>
																		</select>
																	</div>
																</div>
															</div>
															<div class="d-md-none m--margin-bottom-10"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--end: Filters -->

										<!--begin: Datatable -->
										<div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
											<table class="m-datatable__table" id="html_table" width="100%" style="display: block; min-height: 300px; overflow-x: auto;">
												<thead class="m-datatable__head">
												<tr class="m-datatable__row" style="left: 0px;">
													<th title="Field #1" class="m-datatable__cell m-datatable__cell--sort" data-field="Experiment"><span style="width: 110px;">Experiment</span></th>
													<th title="Field #4" class="m-datatable__cell m-datatable__cell--sort" data-field="Status"><span style="width: 110px;">Status</span></th>
													<th title="Field #2" class="m-datatable__cell m-datatable__cell--sort" data-field="Overview"><span style="width: 200px;">Overview</span></th>
													<th title="Field #3" class="m-datatable__cell m-datatable__cell--sort" data-field="Hypothesis"><span style="width: 200px;">Hypothesis</span></th>
												</tr>
												</thead>
												<tbody class="m-datatable__body"  *ngFor="let experiment of myExperiments">
												<!--end: Datatable List -->	
													
													<tr data-row="0" class="m-datatable__row clickable-table-row" data-href="engagement-detail.html" style="left: 0px;">
														<td data-field="Experiment" class="m-datatable__cell">
															<span style="width: 110px;">{{experiment.experiment}} </span>
														</td>
														<td data-field="Status" class="m-datatable__cell">
															<span style="width: 110px;"><span class="m-badge  m-badge--warning m-badge--wide">{{experiment.status}}</span></span>
														</td>
														<td data-field="Overview" class="m-datatable__cell">
															<span style="width: 200px;">{{experiment.overview}}</span>
														</td>
														<td data-field="Hypothesis" class="m-datatable__cell">
															<span style="width: 200px;">{{experiment.hypothesis}}</span>
														</td>
													</tr>
														
												<!--end: Datatable List -->
												</tbody>
											</table>
										</div>
										<!--end: Datatable -->
										
									</div>
								</div>
							</div>
						</div>

<!--end::Section-->